@utility btn-primary {
  @apply bg-blue-500 text-white font-bold py-2 px-4;
}

@utility bg-loading {
  @apply bg-linear-to-r from-purple-400 via-pink-500 to-red-500;
}

@utility card {
  @apply bg-white shadow-lg rounded-lg p-6;
}

@utility bg-radial-design {
  @apply bg-radial from-[#eee9f3] to-[#320F85] to-75%;
}

@utility bg-purple-linear {
  background: linear-gradient(
    90deg,
    #130428 0%,
    #251043 34%,
    #38126D 57%,
    #261045 85%,
    #190634 100%
  );
}
