@import url('https://fonts.googleapis.com/css?family=Preahvihear');
@import "tailwindcss";
@import "./styles/utilities.css";
@import "./styles/animations.css";

@theme {
  --font-khmer: "Preahvihear", sans-serif;
}

@layer base {
  html, body {
    @apply bg-zinc-950 text-white;
    overscroll-behavior-y: none; /* Optional: prevents bounce effect showing background */
  }
  #root {
    @apply min-h-screen;
  }
}
